header {
    background-color: #0d67b5;
    text-align: center;
    width: 100%;
    max-width: 1600px;
}

h1, h2 {
    padding-left: 10px;
    padding-top: 10px;
}

nav {
    display: flex;
    background-color: #fff;
    padding: 5px;
    justify-content: center;
    align-content: space-evenly;
}

nav a {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: #0d67b5;
}

nav a:hover {
    color: #fff;
    background-color: #0d67b5;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1600px;
}

.about {
    display: flex;
    padding: 15px;
}

.about_me_card .about p {
    padding: 20px;
    text-align: left;
    font-size: 1.5em;
}

.about_me_card .about img {
    width: 300px;
    height: auto;
    float: right;
}

.title {
    background-color: #0d67b5;
    color: #fff;
    border-radius: 10px;
    margin: 5px;
}

.about_me_card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.country {
    display: flex;
    flex-direction: row-reverse;
}

.about_me_card h2 {
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    border-bottom: 2px solid #000;
}
.about_me_card .country p {
    padding: 20px;
    text-align: left;
    font-size: 1.5em;
}

.about_me_card .country img {
    width: 200px;
    height: auto;
    float: left;
}

.resources_card {
    border: 1px solid #000;
    padding-top: 10px;
    margin: 10px;
    border-radius: 15px;
}

.resources_card h2 {
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding: 15px;
}

.resources_card a {
    display: flex;
    text-align: left;
    color: #0d67b5;
    font-size: 1.5em;
}

.resources_card a:hover {
    color: #fff;
    background-color: #0d67b5;
}

.content {
    padding: 15px;
    display: flex;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #0d67b5;
    border-radius: 10px;
    padding: 2px;
    width: 100%;
    max-width: 1600px;
    font-size: 2em;
}

.red {
    font-style: italic;
    color: #fff;
}